<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="Automax2.0">
        <parameter name="browser" value="chrome"/>
            <classes>
            <class name="TestCases.Home">
            <methods>
            <include name="HomeLoad"/>
            </methods>
            </class>
         </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Automax">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="TestCases.Home">
                <methods>
                    <include name="HomeLoad"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>